<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Spam Classifier</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat&display=swap"
      rel="stylesheet"
    />
    <link href="{{ url_for('static', path='icon/icon.svg') }}" rel="icon" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{
        url_for('static', path='css/style.css') }}"
    />
    <script
      src="https://kit.fontawesome.com/5f3f547070.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="container">
      <h3>Spam Detector for Short Message Service (SMS)</h3>
      <p style="font-size: 15px">
        A Machine Learning Web App, Built with FastAPI, Deployed using Render.
      </p>
      <div id="form-container">
        <div id="form-wrapper">
          <form action="/predict" method="post">
            <div class="flex: 6">
              <textarea
                style="resize: none"
                class="form-control"
                name="message"
                rows="8"
                cols="40"
                placeholder="Enter Your Message Here..."
              ></textarea>
              <input id="submit" class="btn" type="submit" value="Predict" />
              <input
                id="submit"
                class="btn"
                type="button"
                onclick="location.href='/docs';"
                style="float: right; background-color: grey"
                value="Docs"
              />
            </div>
          </form>
        </div>
      </div>
      <p style="margin-top: 20px; font-size: large">
        Predicted Status : {{prediction}}
      </p>
      <div class="footer">
        <div class="contact">
          <a target="_blank" href="https://twitter.com/Prakashdev03"
            ><i class="fab fa-twitter fa-lg contact-icon"></i
          ></a>
          <a
            target="_blank"
            href="https://github.com/Prakashdeveloper03/SMS-Spam-Classifier"
            ><i class="fab fa-github fa-lg contact-icon"></i
          ></a>
          <a target="_blank" href="https://www.linkedin.com/in/prakashdeveloper"
            ><i class="fab fa-linkedin fa-lg contact-icon"></i
          ></a>
        </div>
        <p class="footer-description">Made with ❤️ by Siva Prakash</p>
      </div>
    </div>
  </body>
</html>
